.react-select-container{cursor: pointer;
  color: #686868;
  }

  .react-select__single-value {
    color: #686868 !important;
  }
  
.react-select__control {
  height: 30px !important;
    min-height: 0 !important;
    border-radius: 2px !important;
    font-size: 12px !important;
    color: #686868 !important;
    background: #fff !important;
    transition: .3s ease !important;
    cursor: pointer;
    border: none !important;
    border-bottom: 1px solid #E6E8F1 !important;
}

.react-select__control--is-focused {
  box-shadow: none !important;
}

.react-select__placeholder {
  margin-left:0 !important;
  height: 100%;
  transform: translateY(-25%) !important;
  color: #686868 !important;
}
  
  .react-select__value-container{
    padding: 0 !important;
    cursor: pointer;;
  }
  
  .react-select__indicators{ cursor: pointer;
}

.react-select__indicator{ padding: 0 !important;
}

.react-select__indicator-separator {
  width: 0 !important;
}
  
  .react-select__menu{
    padding: 0 !important;
    background: #ffffff !important;
    border: 1px solid #E6E8F1 !important;
    box-shadow: -7px 9px 15px rgba(137, 165, 202, 0.12) !important;
  }
  
  .react-select__option{
    padding: .5em 30px !important;
    background: #fff !important;
    border-bottom: 1px solid #E6E8F1 !important;
    font-size: 12px !important;
    color: #686868 !important;
    transition: .2s ease;
    cursor: pointer;
  }
  .react-select__option:hover{
    background-color: rgba(107, 126, 172, 0.05) !important;
    color: #8954BA !important;
    cursor: pointer;
  }
  