*,*:after, *:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Aktiv Grotesk", sans-serif;
  font-weight: 100;
}

html { 
  scroll-behavior: smooth;
}

/* clears the 'X' from Internet Explorer */
input[type=search]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type=search]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

input,
textarea,
select {
  font-family: inherit;
  color: #686868;
}

*:focus {
  outline: none;
}

ol,
ul {
  list-style: none;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

a {
  text-decoration: none;
}


input {
  width: 100%;
  height: 30px;
  border: none;
  border-bottom: 1px solid #e6e8f1;
  font-size: 12px;
  appearance: none;

}

input:focus{
  border-bottom: 1px solid #8954ba;
}

*:focus {
  outline: none;
}

textarea {
  resize: none;
}


body {
  overflow: overlay;
}

::-webkit-scrollbar {
  width: 6px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #5D38DB;
  border-radius: 3px;
}